In [1]:
# we want to count down from 1 to 10 except 3 and 5

n=10
while n>0:
    if n==3 or n==5:
        pass
    else:
        print(f'new value is :{n}')
    n=n-1

new value is :10
new value is :9
new value is :8
new value is :7
new value is :6
new value is :4
new value is :2
new value is :1

In [ ]:
# we want use the continue function
n=1
while n<= 10:
    if n==3 or n==5:
        n+=1
        continue
    print(n)
    n +=1 #n = n+1

1
2
4
6
7
8
9
10

In [7]:
# the four loop
for i in ["apple", "tomato", "mango"]:
    print(i)

apple
tomato
mango

In [9]:
# the four loop

for i in range (6):
    print(i)

0
1
2
3
4
5

In [12]:
# using continue function print 0 - 10, except 3 and 5
for i in range (11):
    if i==3 or i==5:
         i=i+1
         pass
    print(i)
    i=i+1

0
1
2
4
4
6
6
7
8
9
10

In [1]:
#four loops
for i in range (1,8):
    print(f"hello world {i}")

hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7

In [ ]:
#four loops with default argument
for i in range (1,8,2):#2 is the default argument
    print(f"hello world {i}")

hello world 1
hello world 3
hello world 5
hello world 7

In [3]:
#four loops with default argument
for i in range (1,5,1):
    print(f"hello world {i}")
    for j in range (6,10,1):
        print(f"UCU")

hello world 1
UCU
UCU
UCU
UCU
hello world 2
UCU
UCU
UCU
UCU
hello world 3
UCU
UCU
UCU
UCU
hello world 4
UCU
UCU
UCU
UCU

In [4]:
#four loops with default argument
for i in range (1,5,1):
    print(f"hello world {i}")
for j in range (6,10,1):
        print(f"UCU")

hello world 1
hello world 2
hello world 3
hello world 4
UCU
UCU
UCU
UCU

In [ ]:
name= "Peter"
for i in range (1,5,1):
    print(name)                                    #name is already defined above as a string so no quotations needed.

Peter
Peter
Peter
Peter

In [6]:
name= "Peter"
for i in ["mike","Ken","Jane","Mary"]:
    print(i)

mike
Ken
Jane
Mary

In [9]:
name= "Peter"
for i in ["mike","Ken","Jane","Mary"]:
    print(i +" : "+i)

mike : mike
Ken : Ken
Jane : Jane
Mary : Mary