In [4]:
from pandas import Series, DataFrame
import pandas as pd

In [5]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2)

d    4
b    7
a   -5
c    3
dtype: int64

In [6]:
obj2['d']= 10
print(obj2[['d', 'c', 'a']])

d    10
c     3
a    -5
dtype: int64

In [7]:
print(obj2.index)

Index(['d', 'b', 'a', 'c'], dtype='object')

In [8]:
print(obj2.values)

[10  7 -5  3]

In [9]:
print(obj2[:2])

d    10
b     7
dtype: int64

In [10]:
print(obj2.a)

-5

In [11]:
obj3 = Series({'d': 4, 'b': 7, 'a': -5, 'c':3 })
print(obj3)

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
obj4 = obj3[obj3>0]
print(obj4)

d    4
b    7
c    3
dtype: int64

In [13]:
print(obj3**2)

d    16
b    49
a    25
c     9
dtype: int64

In [15]:
sdata = {'Texas': 10, 'Ohio': 20, 'Oregon': 15, 'Utah': 18}
states = {'Texas', 'Ohio', 'Oregon', 'Iowa'}
obj4 = Series(sdata, index=states)
print(obj4)

Texas     10.0
Oregon    15.0
Ohio      20.0
Iowa       NaN
dtype: float64

In [16]:
sdata = {'Texas': 10, 'Ohio': 20, 'Oregon': 15, 'Utah': 18}
states = ['Texas', 'Ohio', 'Oregon', 'Iowa']
obj4 = Series(sdata, index=states)
print(obj4)

Texas     10.0
Ohio      20.0
Oregon    15.0
Iowa       NaN
dtype: float64

In [17]:
sdata = {'Texas': 10, 'Ohio': 20, 'Oregon': 15, 'Utah': 18}
states = ['Texas', 'Ohio', 'Oregon', 'Utah']
obj5 = Series(sdata, index=states)
print(obj5)

Texas     10
Ohio      20
Oregon    15
Utah      18
dtype: int64

In [18]:
sdata = {'Texas': 10, 'Ohio': 20, 'Oregon': 15, 'Utah': 18}
states = ['Texas', 'Ohio', 'Oregon', 'Iowa']
obj4 = Series(sdata, index=states)
obj4.name = 'population'
obj4.index.name = 'state'
print(obj4)

state
Texas     10.0
Ohio      20.0
Oregon    15.0
Iowa       NaN
Name: population, dtype: float64

In [19]:
obj4.index = ['Florida', 'New York', 'Kentucky', 'Georgia']

In [20]:
S = Series(range(4), index=['zero', 'one', 'two', 'three'])
print(S['two'])

2

In [21]:
print(S[['zero', 'two']])

zero    0
two     2
dtype: int64

In [22]:
S = Series(range(4), index=['zero', 'one', 'two', 'three'])
print(S[:2])

zero    0
one     1
dtype: int64

In [23]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [24]:
pop = {'Nevada': {2001: 2.9, 2002: 2.9}, 'Ohio': {2002: 3.6, 2001: 1.7, 2000: 1.5}}
frame3 = DataFrame(pop)
print(frame3)

      Nevada  Ohio
2001     2.9   1.7
2002     2.9   3.6
2000     NaN   1.5

In [26]:
frame3.index.name = 'year'
frame3.columns.name='state'
print(frame3)

state  Nevada  Ohio
year
2001      2.9   1.7
2002      2.9   3.6
2000      NaN   1.5

In [27]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
print(frame['state'])

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [28]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['A', 'B', 'C', 'D', 'E'])
print(frame2)

   year   state  pop debt
A  2000    Ohio  1.5  NaN
B  2001    Ohio  1.7  NaN
C  2002    Ohio  3.6  NaN
D  2001  Nevada  2.4  NaN
E  2002  Nevada  2.9  NaN

In [1]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['A', 'B', 'C', 'D', 'E'])
print(frame2)

NameError: name 'DataFrame' is not defined